body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#image-logo {
  background: url('../images/output-onlinepngtools 150 by 150.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 0px 15px 0px -30px;


}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
.navbar-header button.navbar-toggle ,.icon-bar{
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	margin-top: -30px;
	clear: both;
}

#nav-list{
	margin-top: 10px;

}
#nav-list a{
	color:#951C49 ;
	text-align: center;

}

#nav-list a:hover{
	background: #E7E7E7;
  
}
#phone{
	margin-top: 5px;
}
#phone a{
	font-size: 1.5em;
  text-align: right;
  padding-bottom: 0px;


}
#phone div{
	text-align: right;
  padding-top: 3px;
	padding-right: 15px;
	color: #557c3e;
}
.container .jumbotron{

}
@media (min-width:1200px){
  .container .jumbotron{
    background: url(../images/restuarant_original_1200x675.jpg);
    height: 675px;

  }
}
@media (min-width:992px) and (max-width:1199px){
   .container .jumbotron{
    background: url(../images/restuarant_original_1_992x558.jpg);
    height: 558px;


  }
}
@media (min-width:768px) and (max-width:991px){
  .navbar-brand{
  padding-top: 10px;
  }
  .navbar-brand p{
    font-size: .7em;
  }
  .navbar-brand p img{
    height: 20px;
  }
  .container .jumbotron{
    background: url(../images/restuarant_original_2_768x432.jpg);
    height: 432px;
  }

}
@media (max-width:767px){
  .navbar-brand{
    padding-top: 15px;
    height: 80px;
  }
  .navbar-brand a h1{
    font-size: 5vw;
    margin-top: 5px;
  }
  .navbar-brand p {
    font-size: .6em;
    margin-top: 10px;
  }
  .navbar-brand p img{
    height: 20px;

  }
  .container .jumbotron{
    margin-top: 30px;
  }
  
  #menu-tile,#special-tile {

    width:360px ;
    margin:auto ;
  }
  .footer-panel section{
    text-align: center;
  }
}
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
   #specials-tile{
    height: 250px;
    width: 100%;
    margin: 0 auto 15px;
   }
  #menu-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}

 #class-btn a {

    font-size: 1.3em;
    display: block;
    margin: 5px 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
    letter-spacing: 1px;


 }
 
 #xs-deliver{
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.8px;
 }

 .container .jumbotron {
  padding: 0px;
  box-shadow:0 0 50px #3F0C1F ;
  border: 2px solid #3F0C1F;
 }
  #menu-tile{
  background: url(../images/istockphoto-184946701360x250.jpg) no-repeat;
  background-position: center;

  }
  #special-tile{
  background: url(../images/photo-1604382354936-07c5d9983bd3_360x250.jpg) no-repeat;
  background-position: center;
  }
  #menu-tile span , #special-tile span  , #map-tile span {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #000;
  opacity: .7;
  color: #fff;
  
  }
  #menu-tile , #special-tile , #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  }
  #menu-tile:hover , #special-tile:hover , #map-tile:hover{
    box-shadow: 0  1px 5px 1px #cccccc;
  }

  .footer-panel{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #222;
  }
  .row{
    margin-bottom: 30px;
  }
  #hours>span , #address>span{
    font-size: 1.5em;
  }
  #hours , #address{
    line-height: 1.8;


  }
  #address p{
    font-size: .8em;
    color: #557c3e;
  }
  #testimonials p:nth-child(2){
    margin-top: 30px; 
  }
  #testimonials{
    font-style: italic;

  }
.catogory-tile{
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border: 2px solid #3F0C1F;
  margin: 0 auto 15px;
}
.catogory-tile span{
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #000;
  opacity: .7;
  color: #fff;
  font-size: 1.2em;
}
.catogory-tile:hover{
  box-shadow:0 1px 5px 1px #cccccc;
}
#Extra-menu-cat {
  margin-bottom: 50px;
}

